@page
@model ChillLancer_RazorPage.Pages.Accounts.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Account</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.AvatarUrl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.AvatarUrl)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.FirebaseUid)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.FirebaseUid)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.FcmToken)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.FcmToken)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.GoogleId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.GoogleId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.FacebookId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.FacebookId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.NameTag)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.NameTag)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.IdentityCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.IdentityCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.FullName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.Password)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.Password)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.DateOfBirth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.DateOfBirth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.Gender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.Gender)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.National)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.National)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.BioSummary)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.BioSummary)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.CompanyName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.CompanyName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.CompanyWebsite)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.CompanyWebsite)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.Favorited)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.Favorited)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.Liked)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.Liked)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.Dislike)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.Dislike)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.IsVerified)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.IsVerified)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.LastDelivery)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.LastDelivery)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.JoinedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.JoinedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.Role)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.Role)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.Status)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Account.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
