@page
@model WebApplication1.Pages.Accounts.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Accounts[0].AvatarUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Accounts[0].FirebaseUid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Accounts[0].FcmToken)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Accounts[0].GoogleId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Accounts[0].FacebookId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Accounts[0].NameTag)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Accounts[0].IdentityCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Accounts[0].FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Accounts[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Accounts[0].Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Accounts[0].PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Accounts[0].Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Accounts[0].DateOfBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Accounts[0].Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Accounts[0].National)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Accounts[0].BioSummary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Accounts[0].CompanyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Accounts[0].CompanyWebsite)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Accounts[0].Favorited)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Accounts[0].Liked)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Accounts[0].Dislike)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Accounts[0].IsVerified)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Accounts[0].LastDelivery)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Accounts[0].JoinedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Accounts[0].Role)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Accounts[0].Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Accounts) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AvatarUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirebaseUid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FcmToken)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GoogleId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FacebookId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NameTag)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdentityCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.National)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BioSummary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyWebsite)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Favorited)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Liked)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dislike)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsVerified)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastDelivery)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JoinedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
